@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
	background-image: url("/images/main-background-tree.png");
	background-size: cover; 
	height: 100vh; 
	width: 100vw; 
    background-repeat: no-repeat;
    background-color: #171F12;
	font-family: "Inter", sans-serif;
	color: rgba(255, 255, 255, .75);
}

/***** Header and Nav menu *****/
header {
	margin-top: 3.625rem;
	margin-left: 4.1875rem;
	margin-right: 4.1875rem;
	display: flex;
	justify-content: space-between;
	text-align: center;
}

.nav-brand {
	display: flex;
}
.nav-brand p {
	font-size: 1.75rem;
	font-weight: 900;
	margin-bottom: 0;
	margin-top: 1.625rem;
	padding-left: 0.4375rem;
}

.nav-menu-one{
	display: flex;
}

.nav-menu-one  p {
	margin-top: 0.5625rem;
	margin-bottom: 0.5625rem;
	margin-right: 2.1875rem;
	margin-left: 2.1875rem;
	line-height: 3rem;
	font-size: 1.5rem;
	font-weight: 400;
}

.nav-menu-one p:hover {
	cursor: pointer;
}

.nav-menu-two {
	display: flex;
}

.nav-menu-two > a {
	margin-top: 1.25rem;
	margin-bottom: 1.25rem;
}

.nav-menu-two-shift-left{
	margin-left: 4rem;
}

/***** Main Content Top *****/
.content-top-container {
	display: flex;
	justify-content: space-between;
}

.content-top-container-demo-group {
	margin-top: 9.6875rem;
	margin-left: 4.1875rem;
	width: 45%;
}

.content-top-container-demo-group-title {
	font-size: 7.375rem;
	font-weight: 600;
	margin-top: 0px;
	margin-bottom: 0px;
}

.content-top-container-demo-group-buttons {
	display: flex;
	margin-bottom: 13.563rem;
}

.content-top-container-demo-group-buttons img {
	margin-left: 1.625rem;
	margin-right: 1rem;
}

.content-top-container-demo-group-buttons img:hover {
	cursor: pointer;
}

.content-top-container-demo-group-buttons a {
	text-decoration: none;
	color: inherit;
	margin-top: 1.25rem;
	margin-bottom: 1.25rem;
}

.content-top-container-card {
	margin-top: 12.688rem;
	margin-right: 4.188rem;
}

/***** Main Content Cards *****/
#card-intro {
	margin-top: 6.25rem;
	margin-bottom: 9.406rem;
	text-align: center;
	font-size: 3.438rem;
	font-weight: 600;
	color: #fff;
}

#medium-card-1 {
	margin-bottom: 8.625rem;
	margin-left: 4.625rem;
	margin-right: 4.625rem;
}

#medium-card-2 {
	margin-bottom: 13.375rem;
	margin-left: 4.625rem;
	margin-right: 4.625rem;
}

.small-plant-card-grid {
	margin-top: 11.5rem;
}

.small-plant-card-grid-container {
	display: grid;
	grid-template-columns: auto auto auto;
	column-gap: 1.188rem;
}

/***** Small Component Styling *****/
/*** Button ***/
.common-button {
	color: inherit;
	background: none;
	border: rgba(255, 255, 255, .75) solid 2px;
	border-radius: 0.813rem;
	padding-top: 0.875rem;
	padding-bottom: 0.875rem;
	padding-left: 3rem;
	padding-right: 3rem;
	font-size: 1.5rem;
	font-weight: 400;
}

.common-button:hover{
	cursor: pointer;
}

/*** Small Rating Card ***/
.small-rating-card {
	border: rgba(255, 255, 255, 0.915) solid 1px;
	border-radius: 2.625rem;
	width: 25.563rem;
	height: 14.813rem;
	background-color: rgba(255, 255, 255, .05);
	backdrop-filter: blur(8px);
}

.small-rating-card-title {
	padding-left: 7rem !important;
	padding-top: 3.313rem;
	font-size: 1.5rem;
	font-weight: 500;
	margin-bottom: 0px;
}

.small-rating-card span {
	padding-left: 7rem;
}

.small-rating-card p {
	padding-left: 2.125rem;
}

/*** Small Plant Card ***/
.small-plant-card {
	border: rgba(255, 255, 255, 0.915) solid 1px;
	border-radius: 5.25rem;
	width: 32rem;
	height: 40.25rem;
	background-color: rgba(255, 255, 255, .05);
	backdrop-filter: blur(8px);
	position: relative;
}

.small-plant-card > img {
	width: 28.688rem;
	margin-left: 1.625rem;
	margin-right: 1.625rem;
	position: absolute;
	bottom: 15.625rem;
}

.small-plant-card-info-group {
	position: absolute;
	bottom: 5rem;
	left: 4.688rem;
}

.small-plant-card-title {
	font-size: 2.375rem;
	font-weight: 400;
}

.small-plant-card-description {
	font-size: 1.5rem;
	font-weight: 400;
}

.small-plant-card-price {
	font-size: 2.375rem;
	margin-top: 0.438rem;
	margin-bottom: 0px;
	margin-right: 3.125rem;
}

.small-plant-card-button-group {
	display: flex;
	text-align: center;
}

/*** Medium Plant Card ***/
.medium-plant-card {
	border: rgba(255, 255, 255, 0.915) solid 1px;
	border-radius: 9.438rem;
	height: 32.875rem;
	max-width: 100.563rem;
	min-width: 10rem;
	background-color: rgba(255, 255, 255, .05);
	backdrop-filter: blur(8px);
	position: relative;
}

.medium-plant-card img {
	position: absolute;
	bottom: -5rem;
	width: 37.563rem;
}

.medium-plant-card-info-group {
	position: absolute;
	bottom: 8rem;
	right: 9.5rem;
	max-width: 38.813rem;
}

.medium-plant-card-title {
	font-weight: 600;
	font-size: 2.375rem;
}